/**
 * Copyright © Scalexpert.
 * This file is part of Scalexpert plugin for PrestaShop.
 *
 * @author    Société Générale
 * @copyright Scalexpert
 */

.sg-account {
  text-align: center;
  margin-bottom: 50px;

  &-text {
    font-weight: 700;
  }
}

#sg_newOrder {
  padding-top: 1em;
}
