/**
 * Copyright © Scalexpert.
 * This file is part of Scalexpert plugin for PrestaShop.
 *
 * @author    Société Générale
 * @copyright Scalexpert
 */

$color_white: #fff;
$color_black: #000;
$color_mineshaft: #232323;
$color_strato: #010035;
$color_mercury: #E6E6E6;
$color_emperor: #545454;
